<!-- <button (click)="add()">B</button> -->
<button mat-stroked-button color="primary" (click)="string(1)">D</button>

<!-- <p>{{}}</p> -->
<!-- <button (click)="add(input)"><input type="text" #input>B</button> -->
<!-- <input type="number" #input> -->
<button mat-stroked-button color="accent" (click)="string(2)">C</button>
<!-- <div *ngIf="">Content to render when condition is true.</div> -->
<!-- <button-toggle>text</button-toggle> -->
<!-- <div *n>

</div> -->
<p>{{servercreationstatus}}</p>

<!-- <div *ngIf="a==1">{{servercreationstatus}}</div>
<div *ngIf="a==2">{{b}}</div> -->
